<%= render 'shared/errors' %>

<nav>
  <%= link_to 'Покинуть борт', logout_path %>

</nav>

<h1> Добро пожаловать на борт, капитан <%= @current_user.username %>! </h1>

<h1> Готовы начать бой? </h1>
<nav>
  <%= link_to 'Один капитан', play_path %>
  <% flash[:error] = nil %>
</nav>
<nav>
  <%= link_to 'Два капитана', playerslist_path %>
  <% flash[:error] = ['На данный момент функция недоступна']%>
</nav>