<body class="log_container">
<heade>
</heade>
<div class="content">
  <div>
    <%= render 'shared/errors' %>
  </div>
  <div class="form_background">
<%= form_for :user, class: 'register_form' do |f| %>

  <div class = "form_marg">
    <%= label_tag :username, 'Имя пользователя',class:"form_txt"  %><p>
    <%= f.text_field :username, class:"log_field" %>
  </div>

  <div class = "form_marg">
    <%= label_tag :email, 'Почта',class:"form_txt"  %><p>
    <%= f.email_field :email, class:"log_field" %>
  </div>

  <div class = "form_marg">
    <%= label_tag :password, 'Пароль',class:"form_txt"  %><p>
    <%= f.password_field :password, class:"log_field" %>
  </div>

  <div class = "form_marg">
    <%= label_tag :password_confirmation, 'Подтверждение пароля',class:"form_txt"  %><p>
    <%= f.password_field :password_confirmation, class:"log_field" %>
  </div>

  <div class = "form_marg">
    <%= f.submit 'Зарегистрироваться',class: 'log_but' %>
  </div>
      </div>
    </div>
    <footer>
    </footer>
  </body>
<% end %>